[Unit]
Description=Fetch OSM diff files since last update and apply them to the OSM Carto v5.x database
Wants=postgresql.service

[Service]
Type=oneshot
Environment=INSTALLDIR=@INSTALLDIR@
Environment=STYLEDIR=@STYLEDIR@
Environment=PYTHONPATH=@INSTALLDIR@/lib/@PYTHON_VERSION@/site-packages/:/usr/lib/python3/dist-packages/
Environment=PATH=@INSTALLDIR@/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
WorkingDirectory=@IMPORTDIR@
ExecStart=@INCDIR@/osm2pgsql-update-flex.sh



