[Unit]
Description=Fetch OSM diff files since last update and apply them to the waymarked trails database
Wants=postgresql.service

[Service]
Type=oneshot
Environment=INSTALLDIR=/home/maposmatic
Environment=PYTHONPATH=/home/maposmatic/lib/@PYTHON_VERSION@/site-packages/:/usr/lib/python3/dist-packages/
Environment=PATH=/home/maposmatic/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
WorkingDirectory=@STYLEDIR@/waymarkedtrails-backend
ExecStart=@INCDIR@/waymarked-update.sh


